

.reloj {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ed213a, #93291e);
    font-family: 'DS-Digital', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.9);
}

#date {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 0.5;
    letter-spacing: 1rem;
}

#time {
    display: block;
    font-size: 12rem;
    letter-spacing: 1.5rem;
    font-weight: bold;
}

small {
    font-size: 4rem;
    letter-spacing: 0.5rem;
}